#friends-display-link {
  text-align: center;
  display: block;
  background-color: #a1dbb3;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
  margin-bottom: 50px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 120vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  font-family: futura midium;
  color: aliceblue;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 0.5s;
}

#splash-message {
  margin-bottom: 150px;
}

#splash-img {
  height: 400px;
  width: 500px;
}

.kokni-img {
  height: 20px;
  width: 20px;
}
